/* GLOBAL RESETS */

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-mint-green: #54e6af;
  --color-mint-green-light: #b3ffe2;
  --color-gray-light: #c2cbe5;
  --color-gray-medium: #5a668a;
  --color-gray-dark: #2c344b;
  --color-navy: #121725;
  --color-white: #ffffff;
  --color-error: #fb3e3e;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px , 10px/16px = 62.5% */
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  background-color: #121725;
}

/* HERO SECTION  */
.page-container {
  position: relative;
  margin: 5rem 0 auto 10rem;
  max-width: 1440px;
}

.hero-img {
  height: 50rem;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 3rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-navy);
  position: absolute;
  width: 71rem;
  padding: 5rem 0 5rem 0;
  top: 13rem;
}

.heading {
  font-size: 5.2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 6.2rem;
  color: var(--color-mint-green);
  padding-bottom: 2rem;
}

.heading__highlight {
  color: var(--color-white);
}

.paragraph {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color-gray-light);
  width: 63%;
  padding-bottom: 2rem;
}

/* MEDIA QUERIES FOR TEXT CONTENT */

@media only screen and (max-width: 44.999rem) {
  .page-container {
    max-width: 48.125rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 0;
    margin-bottom: auto;
  }

  .hero-img {
    height: 52rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .card-container {
    background-color: var(--color-navy);
    position: absolute;
    max-width: 44rem;
    padding: 5rem 0 5rem 3rem;
    top: 16rem;
    margin-left: -3rem;
  }

  .heading {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 63%;
    padding-bottom: 2rem;
  }
}

/* FORM SECTION */
.form-container {
  position: relative;
  padding-bottom: 4.5rem;
}

.email {
  min-width: 60%;
  height: 3.9rem;
  border: none;
  border-radius: 3rem;
  padding: 1.3rem;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  font-family: inherit;
}

.email::placeholder {
  font-family: "Chivo", sans-serif;
  color: var(--color-gray-light);
  padding-left: 1rem;
  font-size: 1.15rem;
  opacity: 0.75;
}

.request-btn {
  background-color: var(--color-mint-green);
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.8rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-navy);
  transition: all 0.2s;
  position: absolute;
  top: 1.5px;
  margin-left: -13rem;

  z-index: 2;
  cursor: pointer;
}

.request-btn:hover {
  background-color: var(--color-mint-green-light);
}

.validation-message {
  color: var(--color-error);
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.7rem 1.3rem;
}

/* OTHER */

.brand-names {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.design-dots {
  position: absolute;
  top: 48rem;
  right: 0;
}

@media only screen and (max-width: 44.999rem) {
  .brand-names {
    width: 88%;
  }
  .brand-name {
    height: 1.625rem;
  }
  .design-dots-svg {
    position: fixed;
    bottom: 0;
    left: 2rem;
  }
}
